<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lim.fiture.fiture">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />

        <meta-data
            android:name="com.samsung.android.health.permission.read"
            android:value="com.samsung.health.step_count;com.samsung.shealth.step_daily_trend" />

        <activity
            android:name=".activities.EditProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.MainActivityFinal" />
        <activity android:name=".activities.AdminActivity" />
        <activity android:name=".activities.AddExerciseStepOne" />
        <activity android:name=".activities.AddExerciseStepTwo" />
        <activity android:name=".activities.AddExerciseStepThree" />
        <activity android:name=".activities.AddExerciseStepTwo_v2" />
        <activity android:name=".activities.FitnessLevelActivity" />
        <activity android:name=".activities.FitnessGoalActivity" />
        <activity android:name=".activities.UserMainActivity" />
        <activity android:name=".activities.AddProgramDetails" />
        <activity android:name=".activities.AddProgramExercise" />
        <activity android:name=".activities.AddProgramImages" />
        <activity android:name=".activities.ProgramDetailsActivity" />
        <activity
            android:name=".activities.StartProgramActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activities.DayExerciseActivity" />
        <activity android:name=".activities.ExerciseDetailsActivity" />
        <activity android:name=".activities.DoProgramActivity" />
        <activity android:name=".activities.AddDailyChallengesDetails" />
        <activity android:name=".activities.AddDailyChallengesImages" />
        <activity android:name=".activities.DailyChallengesDetailsActivity" />
        <activity android:name=".activities.ExecuteChallengeActivity" />
        <activity android:name=".activities.ActivityExecuteChallengeTrackTime"></activity>
    </application>

</manifest>